@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0;
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #f12b2b;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes ripple-white {
  0% {
    -webkit-box-shadow: #f12b2b, #f12b2b, #f12b2b;
    box-shadow: #f12b2b, #f12b2b, #f12b2b;
  }
  50% {
    -webkit-box-shadow: #f12b2b, #f12b2b, #f12b2b;
    box-shadow: #f12b2b, #f12b2b, #f12b2b;
  }
  100% {
    -webkit-box-shadow: #f12b2b, #f12b2b, #f12b2b;
            box-shadow: #f12b2b, #f12b2b, #f12b2b;
  }
}

@keyframes ripple-white {
  0% {
    -webkit-box-shadow: #f12b2b, #f12b2b, #f12b2b;
    box-shadow: #f12b2b, #f12b2b, #f12b2b;
  }
  50% {
    -webkit-box-shadow: #f12b2b, #f12b2b, #f12b2b;
    box-shadow: #f12b2b, #f12b2b, #f12b2b;
  }
  100% {
    -webkit-box-shadow: #f12b2b, #f12b2b, #f12b2b;
            box-shadow: #f12b2b, #f12b2b, #f12b2b;
  }
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #3e416d !important;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 14px;
}

.hayat img {
  width: 90px;
}

.nav-item .cstm {
  background-color: #f3f5fd;
  padding: 7px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-top: 3px;
  border-radius: 20px 20px 20px 20px;
  font-size: 14px;
}

.cstm img {
  width: 30px;
}

.text-success {
  color: #32bb46 !important;
}

.text-danger {
  color: #ff0000 !important;
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
}

.btn-secondary {
  background-color: #f3f5fd !important;
  color: #3e416d;
  border: none !important;
  margin-right: 10px;
  padding: 8px 30px;
  border-radius: 20px 20px 20px 20px;
  font-size: 14px;
}

.btn-secondary:hover {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #3e416d !important;
  border-radius: 0px 0px 0px 0px;
  background: -webkit-gradient(linear, left top, right top, from(#3e416d), to(#f12b2b));
  background: linear-gradient(90deg, #3e416d, #f12b2b);
  color: #fff !important;
}

.btn-danger {
  background-color: #ef7f65 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 20px 20px 20px 20px;
  padding: 8px 30px;
  font-size: 14px;
  margin-right: 10px;
}

.btn-danger:hover {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: -webkit-gradient(linear, left top, right top, from(#3e416d), to(#f12b2b));
  background: linear-gradient(90deg, #3e416d, #f12b2b);
  color: #fff !important;
  border-radius: 0px 0px 0px 0px;
}

/* banner start */
.banner-sec {
  padding: 100px 20px 150px 20px;
  overflow: hidden;
}

.banner-sec h1 {
  color: #3e416d;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner-sec span {
  color: #3e416d;
  font-size: 20px;
}

.btn-red {
  background-color: #f12b2b;
  color: #fff !important;
  border: none !important;
  border-radius: 20px 20px 20px 20px;
  padding: 8px 30px;
  font-size: 14px;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-red:hover {
  background-color: #3e416d;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pst {
  position: relative;
}

.banner-shape {
  position: absolute;
  left: 950px;
  bottom: 10px;
}

.banner-shape img {
  width: 450px;
}

.boost-left-sec {
  position: relative;
}

.boost-left-sec img {
  width: 650px;
}

.boost-left-child {
  position: absolute;
  right: 250px;
  bottom: 0px;
  z-index: -1;
}

.boost-left-child img {
  width: 550px;
}

.section-boost h1 {
  color: #3e416d;
  font-weight: 400;
}

.sec-boost-right h5 {
  color: #00006a !important;
  font-weight: 600;
}

.section-boost span {
  color: #7d7e93;
}

.bullit_points img {
  margin-bottom: 4px;
}

.section-monitor {
  margin-top: 50px !important;
}

.section-monitor h1 {
  color: #3e416d;
  font-weight: 400;
}

.section-monitor-left h5 {
  color: #00006a !important;
  font-weight: 600;
}

.section-pharmacy-right h5 {
  color: #00006a !important;
  font-weight: 600;
}

.section-monitor-left {
  padding-left: 140px !important;
}

@media (max-width: 992px) {
  .section-boost {
    overflow: hidden;
  }
  .section-monitor-left {
    padding-left: 40px !important;
  }
  .col-md-5.sec-boost-right {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .dekstop {
    display: none !important;
  }
}

.sec-monitor-rt {
  position: relative;
  overflow: hidden;
}

.sec-monitor-child {
  position: absolute;
  left: 100px;
  top: 0;
  z-index: -1;
}

.sec-monitor-child img {
  width: 650px;
}

@media (max-width: 414px) {
  .banner-sec {
    padding: 50px 20px 50px 20px;
    overflow: hidden;
  }
  .boost-left-child img {
    display: none !important;
  }
  .sec-monitor-child img {
    display: none !important;
  }
  .banner-shape img {
    display: none !important;
  }
  .banner-sec h1 {
    font-size: 28px !important;
  }
  .nav-item .cstm {
    background-color: #f3f5fd;
    padding: 9px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 20px 20px 20px 20px;
    font-size: 13px;
  }
  #a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #b {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.sec-pharmacy {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

.sec-pharmacy-child {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.banner-sec h1 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#3e416d), color-stop(#f12b2b), to(#000));
  background: linear-gradient(90deg, #3e416d, #f12b2b, #000);
  background-repeat: no-repeat;
  background-size: 90%;
  -webkit-animation: animate 5s linear;
          animation: animate 5s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@-webkit-keyframes animate {
  0% {
    background-position: -900%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes animate {
  0% {
    background-position: -900%;
  }
  100% {
    background-position: 0%;
  }
}

.object {
  -webkit-animation: MoveUpDown 3s linear infinite;
          animation: MoveUpDown 3s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

.object1 {
  -webkit-animation: MoveUpDown1 3s linear infinite;
          animation: MoveUpDown1 3s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes MoveUpDown1 {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

@keyframes MoveUpDown1 {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

.object2 {
  -webkit-animation: MoveUpDown2 3s linear infinite;
          animation: MoveUpDown2 3s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes MoveUpDown2 {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

@keyframes MoveUpDown2 {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
}

.fadeinleft {
  opacity: 0;
  margin-left: -300px;
  max-width: 100%;
}

.dekstop {
  display: inline-block;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */